# Игнорировать файлы Python
*.pyc
__pycache__/

# Игнорировать настройки редактора
.vscode/
.idea/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать секретные данные
.env
secrets.txt